@font-face {
  font-family: 'LionandHare-LightItalic';
  src: url('LionandHareLightItalic/font.woff2') format('woff2'),
    url('LionandHareLightItalic/font.woff') format('woff');
}
@font-face {
  font-family: 'LionandHare-Italic';
  src: url('LionandHareItalic/font.woff2') format('woff2'),
    url('LionandHareItalic/font.woff') format('woff');
}
@font-face {
  font-family: 'LionandHare-Light';
  src: url('LionandHareLight/font.woff2') format('woff2'),
    url('LionandHareLight/font.woff') format('woff');
}
@font-face {
  font-family: 'LionandHare-Bold';
  src: url('LionandHareBold/font.woff2') format('woff2'),
    url('LionandHareBold/font.woff') format('woff');
}
@font-face {
  font-family: 'LionandHare-BoldItalic';
  src: url('LionandHareBoldItalic/font.woff2') format('woff2'),
    url('LionandHareBoldItalic/font.woff') format('woff');
}
@font-face {
  font-family: 'LionandHare-Regular';
  src: url('LionandHareRegular/font.woff2') format('woff2'),
    url('LionandHareRegular/font.woff') format('woff');
}
