@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@keyframes blink {
  0%,
  49.9% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@theme {
  --color-woodsmoke: oklch(20.03% 0.0105 268.16);
  --color-whisper: oklch(95.21% 0.0139 304.14);
  --color-mulled-wine: oklch(38.76% 0.0477 312.09);

  --font-iawriterquattro: var(--font-iawriterquattro);
  --font-unbounded: var(--font-unbounded);
}
