@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@plugin '@tailwindcss/typography';


@keyframes blink {
  0%,
  49.9% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@theme {
  --color-woodsmoke: oklch(20.03% 0.0105 268.16);
  --color-whisper: oklch(95.21% 0.0139 304.14);
  --color-mulled-wine: oklch(38.76% 0.0477 312.09);

  --font-iawriterquattro: var(--font-iawriterquattro);
  --font-unbounded: var(--font-unbounded);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(95.21% 0.0139 304.14);
    --foreground: oklch(20.03% 0.0105 268.16);
    --card: oklch(95.21% 0.0139 304.14);
    --card-foreground: oklch(20.03% 0.0105 268.16);
    --popover: oklch(95.21% 0.0139 304.14);
    --popover-foreground: oklch(20.03% 0.0105 268.16);
    --primary: oklch(20.03% 0.0105 268.16);
    --primary-foreground: oklch(95.21% 0.0139 304.14);
    --secondary: oklch(88% 0.01 304.14);
    --secondary-foreground: oklch(20.03% 0.0105 268.16);
    --muted: oklch(88% 0.01 304.14);
    --muted-foreground: oklch(50% 0.01 268.16);
    --accent: oklch(88% 0.01 304.14);
    --accent-foreground: oklch(20.03% 0.0105 268.16);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(20.03% 0.0105 268.16 / 15%);
    --input: oklch(20.03% 0.0105 268.16 / 15%);
    --ring: oklch(38.76% 0.0477 312.09);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(88% 0.01 304.14);
    --sidebar-foreground: oklch(20.03% 0.0105 268.16);
    --sidebar-primary: oklch(20.03% 0.0105 268.16);
    --sidebar-primary-foreground: oklch(95.21% 0.0139 304.14);
    --sidebar-accent: oklch(88% 0.01 304.14);
    --sidebar-accent-foreground: oklch(20.03% 0.0105 268.16);
    --sidebar-border: oklch(20.03% 0.0105 268.16 / 15%);
    --sidebar-ring: oklch(38.76% 0.0477 312.09);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: oklch(20.03% 0.0105 268.16);
      --foreground: oklch(95.21% 0.0139 304.14);
      --card: oklch(24% 0.0105 268.16);
      --card-foreground: oklch(95.21% 0.0139 304.14);
      --popover: oklch(24% 0.0105 268.16);
      --popover-foreground: oklch(95.21% 0.0139 304.14);
      --primary: oklch(95.21% 0.0139 304.14);
      --primary-foreground: oklch(20.03% 0.0105 268.16);
      --secondary: oklch(30% 0.0105 268.16);
      --secondary-foreground: oklch(95.21% 0.0139 304.14);
      --muted: oklch(30% 0.0105 268.16);
      --muted-foreground: oklch(65% 0.01 268.16);
      --accent: oklch(30% 0.0105 268.16);
      --accent-foreground: oklch(95.21% 0.0139 304.14);
      --destructive: oklch(0.704 0.191 22.216);
      --border: oklch(95.21% 0.0139 304.14 / 10%);
      --input: oklch(95.21% 0.0139 304.14 / 15%);
      --ring: oklch(38.76% 0.0477 312.09);
      --chart-1: oklch(0.488 0.243 264.376);
      --chart-2: oklch(0.696 0.17 162.48);
      --chart-3: oklch(0.769 0.188 70.08);
      --chart-4: oklch(0.627 0.265 303.9);
      --chart-5: oklch(0.645 0.246 16.439);
      --sidebar: oklch(24% 0.0105 268.16);
      --sidebar-foreground: oklch(95.21% 0.0139 304.14);
      --sidebar-primary: oklch(95.21% 0.0139 304.14);
      --sidebar-primary-foreground: oklch(20.03% 0.0105 268.16);
      --sidebar-accent: oklch(30% 0.0105 268.16);
      --sidebar-accent-foreground: oklch(95.21% 0.0139 304.14);
      --sidebar-border: oklch(95.21% 0.0139 304.14 / 10%);
      --sidebar-ring: oklch(38.76% 0.0477 312.09);
    }
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}